<div class="row">
  <% @lists.each do |list| %>
    <div class="col-12 col-md-4 my-2">
      <%= link_to list_path(list), class: 'list-link' do %>
        <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list_photo(list) %>)">
          <%= list.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
