<% flash.each do |type, msg| %>
  <div class="alert alert-info alert-flash" role="alert">
    <%= msg %>
    <button type="button" class="close pl-3" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>